/*removes white edges around webpage*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/the-wall.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Moon Dance';
}

div {
    color: black;
    font-weight: bold;
    font-size: 30px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-weight: bold;
    font-size: 60px;
}

/*dragons color*/
.red-color {
    color: #e54141;
}

/*dragonglass color*/
.obsidian-color {
    color: #8f9fa6;
}

/*walkers color*/
.dark-blue-color {
    color: #1f3c4a;
}

.what-beats-what {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 40px;
}

.rounds{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 40px;
}

.weapons {
    display: flex;
    flex: none;
    justify-content: space-evenly;
    align-items: center;
    border: solid black;
}