body {
    margin: 0;
}

#page-container {
    background-color: #192544;
    position: relative;
    min-height: 100vh;
    font-family: 'Lora', serif;
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #030b20;
    color: rgb(215, 207, 47);
}

#footer-container {
    color: white;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding-bottom: 1rem;
}

.footer-text a:visited, footer a:link {
    color: white;
}
