/*removes white edges around webpage*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/the-wall.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Moon Dance';
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-weight: bold;
    font-size: 60px;
}

button {    
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

/*dragons color*/
.red-color {
    color: #e54141;
}

/*dragonglass color*/
.obsidian-color {
    color: #8f9fa6;
}

/*walkers color*/
.dark-blue-color {
    color: #1f3c4a;
}

.what-beats-what {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 40px;
    font-weight: bold;
}

.rounds{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 40px;
    font-weight: bold;
}

.main-body {
    display: flex;
    flex-direction: column;
}

.weapons {
    border: solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30%;
    margin-right: 30%;
}

.images {
    height: 125px;
    width: 125px;
    transition: transform .2s;
}

.result-container {
    display: flex;
    border: solid black;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30%;
    margin-right: 30%;
}

/*need to rework hover animation. Outline of image background is visible whenever zoom transition occurs. Does this need to be cropped differently? Or is it not even a cropping issue*/
.images:hover {
    transform: scale(1.1)
}

.left-side {
    height: 175px;
    padding-left: 20px;
    padding-right: 20px;
    border-right: solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#computer-weapon {
    font-size: 30px;
}

#final-result {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
}